.track{
  border-width: 1px 0 0 0 ;
  border-color: rgba(255, 255, 255, 0.51);
  border-style: solid;
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.track:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

mat-icon{
  padding-top: 12px;
  height: 100%;
  font-size: 50px;
  color: white;
}
mat-icon:hover{
  cursor: pointer;
}
.track-details{
  height: 100%;
  width: 90%;
  display: grid;
  color: white;
  grid-template-columns: 10% 25% 25% 25% auto;
}
