.control-icon{
  height: 100%;
  margin-top: 40px;
  color: #8d8b8b;
  margin-inline: 25px;
  font-size: 30px;
}
.control-icon:hover{
  color: white;
  font-size: 35px;
  margin-top: 35px;
  cursor: pointer;
}
.bigger{
  font-size: 40px;
  margin-top: 20px;
}
.bigger:hover{
  font-size: 40px;
  margin-top: 20px;
}
