<button>
	<a routerLink="spotify">Page 2</a>
</button>
<form>
	<input style="display: inline" type="url" [value]="RSSLink" />
	<button (click)="setRSS($event)">SET</button>
	<input
		style="display: inline"
		type="url"
		[value]="rate"
		(change)="setRate($event)"
	/>
	<button (click)="playerService.rate = this.rate">SET Rate</button>
	<input
		style="display: inline"
		type="url"
		[value]="volume"
		(change)="setVolume($event)"
	/>
	<button (click)="playerService.volume = this.volume">SET Volume</button>
	<button (click)="playerService.unloadAll = !playerService.unloadAll">
		Unload all
	</button>
	<input type="submit" style="display: none" />
</form>

<br>
<br>
<br>
<br>
<h2>Using rumble-player tag</h2>
<div class="playerContainer" #playerContainer>
	<rumble-player #playerHTML>

  </rumble-player>
</div>
<br>
<h2>Using custom container (rumble element)</h2>
<div #myCustomContainerDefault>

</div>
<br>
<h2>Using custom container (classic HTML)</h2>
<div #myCustomContainerCustom></div>
<br>
<br>
<br>
<br>
<br>


<!-- <rs-demo-play-button></rs-demo-play-button> -->

<button (click)="togglePlayer()">click me to toggle play/pause</button>
<button (click)="addSong()">click me to Add song to the playlist</button>
<button (click)="playerService.shuffle = true">shuffle playlist</button>
<button (click)="playerService.shuffle = false">unshuffle playlist</button>
<button (click)="playerService.loop = true">loop</button>
<button (click)="playerService.loop = false">disable loop</button>
<br />
Current state: {{ playerService.isPlaying ? 'playing' : 'not playing' }} <br />
Current index: {{ playerService.index }} <br />
Current position: {{ playerService.position | number: '1.1-1' }} <br />
<hr />

<h2>Playlist:</h2>

<ol>
	<li *ngFor="let song of playerService.playlist; let index = index">
		<ul
			[ngStyle]="
				song.loaded
					? { 'background-color': 'green' }
					: { 'background-color': 'red' }
			"
		>
			<li>
				<a [href]="song.file">File</a> &nbsp;<strong
					*ngIf="playerService.index == index"
					>[selected]</strong
				>
			</li>

			<li>loaded: {{ song.loaded || false }}</li>
			<li>valid: {{ song.valid || false }}</li>
			<li>duration: {{ song.duration | number: '1.1-1' }}</li>
			<li>position: {{ song.position | number: '1.1-1' }}</li>
			<li>playing: {{ song.howl?.playing() || false }}</li>
		</ul>
	</li>
</ol>
<hr />

<h2>History:</h2>
<ol>
	<li *ngFor="let event of eventsHistory">
		{{ event }}
	</li>
</ol>
