<button>
	<a routerLink="spotify">Page 2</a>
</button>
<form>
	<input style="display: inline" type="url" [value]="RSSLink" />
	<button (click)="setRSS()">SET</button>
	<input
		style="display: inline"
		type="url"
		[value]="rate"
		(change)="setRate($event)"
	/>
	<button (click)="this.player.rate = this.rate">SET Rate</button>
	<input
		style="display: inline"
		type="url"
		[value]="volume"
		(change)="setVolume($event)"
	/>
	<button (click)="this.player.volume = this.volume">SET Volume</button>
	<button (click)="this.player.unloadAll = !this.player.unloadAll">
		Unload all
	</button>
	<input type="submit" style="display: none" />
</form>

<div class="playerContainer" #playerContainer>
	<rumble-player #playerHTML> </rumble-player>
</div>

<button (click)="togglePlayer()">click me to toggle play/pause</button>
<button (click)="addSong()">click me to Add song to the playlist</button>
<button (click)="this.player.shuffle = true">shuffle playlist</button>
<button (click)="this.player.shuffle = false">unshuffle playlist</button>
<button (click)="this.player.loop = true">loop</button>
<button (click)="this.player.loop = false">disable loop</button>
<br />
Current state: {{ player.isPlaying ? 'playing' : 'not playing' }} <br />
Current index: {{ player.index }} <br />
Current position: {{ player.position | number: '1.1-1' }} <br />
<hr />

<h2>Playlist:</h2>

<ol>
	<li *ngFor="let song of player.playlist; let index = index">
		<ul
			[ngStyle]="
				song.loaded
					? { 'background-color': 'green' }
					: { 'background-color': 'red' }
			"
		>
			<li>
				<a [href]="song.file">File</a> &nbsp;<strong
					*ngIf="player.index == index"
					>[selected]</strong
				>
			</li>

			<li>loaded: {{ song.loaded || false }}</li>
			<li>valid: {{ song.valid || false }}</li>
			<li>duration: {{ song.duration | number: '1.1-1' }}</li>
			<li>position: {{ song.position | number: '1.1-1' }}</li>
			<li>playing: {{ song.howl?.playing() || false }}</li>
		</ul>
	</li>
</ol>
<hr />

<h2>History:</h2>
<ol>
	<li *ngFor="let event of eventsHistory">
		{{ event }}
	</li>
</ol>
