<div class="playerContainer" #playerContainer>
	<rumble-player #playerHTML> </rumble-player>
</div>

<button (click)="togglePlayer()">click me to toggle play/pause</button>
<br />
Current state: {{ player.isPlaying ? 'playing' : 'not playing' }} <br />
Current index: {{ player.index }} <br />
Current position: {{ player.position | number: '1.1-1' }} <br />
<hr />

<h2>Playlist:</h2>

<ol>
	<li *ngFor="let song of player.playlist; let index = index">
		<ul>
			<li>
				<a [href]="song.file">File</a> &nbsp;<strong
					*ngIf="player.index == index"
					>[selected]</strong
				>
			</li>
			<li>position: {{ song.position | number: '1.1-1' }}</li>
			<li>playing: {{ song.howl?.playing() || false }}</li>
		</ul>
	</li>
</ol>
<hr />

<h2>History:</h2>
<ol>
	<li *ngFor="let event of eventsHistory">
		{{ event }}
	</li>
</ol>
